 <ion-card>

  <ion-card-header
    (click)="editName()"
    class="trollnet-title"
    [ngClass]="{'activated': actuallyActivated}">
    <ion-card-title>{{!!trollnet && trollnet.properties.customName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="activeStatus">

    <ion-grid>

      <ion-row>
        <ion-col size="2">
          <ion-toggle
          size="large"
            toggle-class="toggle-energized"
            [(ngModel)]="activeStatusOn"
            (ngModelChange)="handleActivationToggle($event)"
            [disabled]="interactionDisabled">
          </ion-toggle>
        </ion-col>

        <ion-col size="8">
          <p>{{activeStatusOn ? "Ready to troll!" : "Sleeping..."}}</p>
        </ion-col>

        <ion-col size="2">
            <ion-button color="danger" (click)="delete()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="info1">
        <ion-label>Creation</ion-label>
        <ion-progress-bar
          [color]=""
          [value]="creationProgress" [buffer]="0">
        </ion-progress-bar>
      </ion-row>

      <ion-row class="info2">
        <ion-label>Training</ion-label>
        <ion-progress-bar
          [color]="danger"
          [value]="trainingProgress" [buffer]="0">
        </ion-progress-bar>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>