<ion-list>
  <ion-label position="stacked">Interaction level</ion-label>
  <ion-range min="1" max="5" step="1"
    snaps="true" ticks="false" pin="true" dualKnobs="true"
    [(ngModel)]="dualRange" (ionChange)="onRangeChange()">
    <ion-icon slot="start" size="small" color="secondary" name="chatbubble-outline"></ion-icon>
    <ion-label slot="start" color="primary">1</ion-label>
    <ion-label slot="end" color="primary">5</ion-label>
    <ion-icon size="large" slot="end" color="primary" name="chatbubbles-outline"></ion-icon>
  </ion-range>
</ion-list>